body {
    padding: 0;
    text-align: center;
  }
  
  #game-intro {
    padding: 20px 0px;
  }
  
  #game-container {
    /* display: flex;
    justify-content: center; */
    border: 5px solid black;
    height: 500px;
    position: relative;
  }
  
  
  .hidden{
    display: none !important;

  }

  #tennis-player{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    bottom: 0;
    
  }

  