body {
    padding: 0;
    text-align: center;
    margin: 0;

  }
  
  #game-intro {
    padding: 20px 0px;
    background-color: chocolate;
    height: 1100px;
  }
  
  #game-container {
    /* display: flex;
    justify-content: center; */
    border: 5px solid black;
    height: 500px;
    position: relative;
    background-image: url('images/fondo.jpg');
    background-color: green;
    margin-top: 200px;
    margin-left: 600px;

  }

  #game-end {
    display: none;
    background-color: chocolate;
    height: 1000px;
    /* width: 1000px; */
  }

  
  .hidden{
    display: none !important;

  }
  

  #tennis-player{
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('images/player.png');
    background-size: cover;
    bottom: 0;
    
  }
  .balls{
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('images/ball.png');
    background-size: cover;
    top: 0;
  }

  .square{
    height: 100px;
    width: 100px;
    position: relative;
    background-color: blueviolet;
  
  }
